<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Kanban</title>
</head>
<body>
    <nav><img src="" alt="Logo Focus"></nav>
    <main id="quadro">

        <section class="coluna" id="aFazer">
            <h1>A Fazer</h1>
            <div class="atividades">
                <div class="nivel nivel1" >
                    <div class="atividade">
                        <div class="tituloAtividade">Sem Nome</div>
                        <p class="descricao">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, non nemo? Ipsam repudiandae laborum, dolorum eligendi quasi neque eaque eum ab.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="coluna" id="fazendo">
            <h1>Fazendo</h1>
            <div class="atividades">

            </div>
        </section>
        <section class="coluna" id="finalizado">
            <h1>Finalizado</h1>
            <div class="atividades">

            </div>
        </section>
    </main>
    <script src="/script.js"></script>
</body>
</html>