@import url('https://fonts.cdnfonts.com/css/clear-sans');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clear Sans'; 
}

body
{
    background-color: rgb(73, 87, 102);
}

nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    color: white;
    /*font-family: 'aileron'; (implementar) */ 
    
    /*altura total: 9vh*/
}

main
{
    height: 95vh;
    width: 100%;
}

form {
    text-align: center;
    color: white;
}

#quadro
{
    display: flex;
    flex-direction: row;
}

.coluna
{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    height: 90vh;
    width: 33%;
    margin: 2vh 2vw 2vh 2vw;
}

#aFazer
{
    background-color: rgb(0, 50, 185);
}
#fazendo
{
    background-color: rgb(0, 103, 236);
}
#finalizado
{
    background-color: rgb(41, 219, 226);
}

.coluna h1
{
    text-align: center;
    color: white;
    border-bottom: dashed thin black;
    background-color: rgba(44, 44, 44, 0.315);
    margin-bottom: 2vh;
}

.nivel
{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: space-around;
}

.atividades
{
    display: flex;
    flex-direction: column;
}

.atividade
{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #8B5FA4;
    width: 24vw; /* Antes era 15vw */
    min-height: 15vh;
}

.tituloAtividade
{
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.336);
}

.atributos-atividade-container { /* Novo */
    margin: 1rem;
}

.autor-prioridade { /* Novo */
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}

.data-container { /* Novo */
    display: flex;
    justify-content: space-between;
}